<%= render_uploadify(:id  => "photo_photo", :url => photos_path) %>
<div>
  <%= file_field :photo, :photo %>
</div>
<div id="photo_submit">
  <%= uploadify_submit("Upload") %>
  <%= uploadify_cancel("Stop") %>
</div>

