<h1>Listing photos</h1>

<div class="photos">
<% @photos.each do |photo| %>
  <%= render :partial => 'photo', :object => photo %>
<% end %>
</div>

<br />

<h1>New photo</h1>

<%= render :partial => "upload" %> 